.writeNews {
  padding-top: 30px;
}
.writeNews_button {
  padding: 15px;
}

.writeNews_text {
  padding: 0 15px;
}

.writeNews_simple {
  padding: 15px;
}

.writeNewsButtonDelete {
  margin: 15px 10px 0 15px;
}

.writeNewsImg {
  padding: 15px 0 0 0;
  width: 100%;
  height: 500px;
}

.writeNews_otmena {
  padding: 15px;
}
.download {
  margin: 15px 0 0 15px;
}
