.text {
  padding: 0 15px;
  text-align: justify;
}
.postik {
  padding-bottom: 55px;
}
.button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #215695;
  border: none;
  outline: none;
  margin: 25px;
}
