.root {
  position: relative;
  margin: 30px 0;
  border: 1px solid #dedede;
  border-radius: 6px;
}

.button_button {
  background-color: #fff;
  border: none;
  outline: none;
}

.editButtons {
  position: absolute;
  right: 0;
  padding: 15px;
  display: flex;
}

.imgimgimg {
  width: 516px;
}

.tags {
  list-style-type: none;
}

.testtesttest {
  padding-left: 15px;
}

.postDetails {
  display: flex;
  width: 55px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.avto {
  display: flex;
  justify-content: center;
}
