@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
.categories {
  ul {
    display: flex;
    padding-left: 12px;
    font-family: OpenSans-Semibold, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
    li {
      list-style-type: none;
      cursor: pointer;

      &.active {
        color: #1058d0;
      }
    }
  }
}
