@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.profile {
  background-color: #fff;
  position: relative;
  width: 1300px;
  height: 900px;
  transform: none;
  transition: all 0s ease 0s;
  box-sizing: border-box;
  outline: rgb(33, 37, 41) none 0px;
}

.profile_user {
  height: 67px;
  background-color: #eef2f4;
}

.user_user {
  display: flex;
  font-size: 24px;
  width: 345px;
  justify-content: space-between;
  height: 67px;
  align-items: center;
  padding-left: 12px;
  color: #000000;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

.profile_avatar {
  width: 200px;
  height: 200px;
  border: 1px solid #dee2e6;
  max-height: 200px;
  max-width: 200px;
  display: inline;
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(33, 37, 41) none 0px;
  box-sizing: border-box;
  border-radius: 4px;
}

.contacts_info {
  position: absolute;
  right: 150px;
  top: 300px;
}

.person_info {
  position: absolute;
  top: 150px;
  right: 0;
}

.info {
  position: absolute;
  top: 150px;
  left: 250px;
}

.information {
  color: #959595;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 24px;
  padding-bottom: 5px;
}

.info_info {
  border-top: 1px solid #007bff;
  width: 400px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.info_info_in {
  border-top: 1px solid #007bff;
  width: 600px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.passport {
  position: absolute;
  top: 300px;
  left: 250px;
}

.person_date {
  color: #959595;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 24px;
  padding-bottom: 5px;
}

.info_info_inn {
  border-top: 1px solid #007bff;
  width: 400px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.info_info_innn {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #007bff;
  width: 250px;
  justify-content: space-between;
}

.con_date {
  color: #959595;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 24px;
  padding-bottom: 5px;
}

.profile_avatar {
  position: absolute;
  top: 145px;
  left: 15px;
}

.person_number {
  padding-left: 73px;
}

.person_position {
  padding-left: 115px;
}

.passport_series {
  padding-left: 142px;
}

.passport_number {
  padding-left: 138px;
}

.passport_adress {
  padding-left: 55px;
}

.login {
  padding-left: 135px;
}

.email {
  padding-left: 20px;
}

.work {
  padding-left: 80px;
}

.telephone {
  background-image: url('../../../assets/telephon.png');
  background-repeat: no-repeat;
}

.phone {
  padding-left: 24px;
}

.emailes {
  background-image: url('../../../assets/email.png');
  background-repeat: no-repeat;
}

.emal {
  padding-left: 25px;
}

.button_repair {
  width: 197px;
  height: 33px;
  color: #ffffff;
  background-color: #337ab7;
  border: none;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  margin-top: 260px;
  margin-left: 17px;
}
