.people {
  display: flex;

  width: 240px;
  padding-left: 30px;
  justify-content: space-between;
}

.imgimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.kevteme {
  display: flex;
  margin-top: 20px;
}
