.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 100px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.button {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  background-color: #215695;
  font-size: 15px;
  cursor: pointer;
}

.passwordrl {
  position: relative;
}

.passwordab {
  position: absolute;
  top: 13px;
  right: 10px;
}

.password {
  background-color: #fff;
  outline: none;
  border: none;
}
